*, html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,
b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,time,mark,audio,a 
{font-family:Tahoma;line-height:20px;font-size:11px;color:#222;margin:0;padding:0;border:0;letter-spacing:1px;
outline:0;background:none;text-rendering:optimizelegibility;position:relative;font-weight:normal;text-align:left;
-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: -moz-none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}


/* LAYOUT */
body {background:#fff;position:relative;}

#leftside{float:left;margin:0;padding:0 0 0 1px;width:170px;min-height:600px;
          border-right:1px solid #ccc;box-shadow:0 3px 5px #ededed;}
#rightside{float:left;margin:0;padding:0 10px;width:200px;min-height:600px;
          border-left:1px solid #ccc;box-shadow:0 3px 5px #ededed;}
#center{float:left;margin:0;width:820px;border:0;padding:5px 15px;}
#footer{position:fixed;bottom:0;left:0;width:100%;background:rgba(0,0,0,0.8);padding:0px;}
#footer *{color:#fff;}

input {padding:0 5px;height:26px;border:1px solid #dedede;width:300px;margin:0 0 3px 0;
       border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;-o-border-radius:1px;}
input[type=submit], input[type=button]{cursor:pointer;font-weight:bold;background:#FF6600;color:#fff;
        border:1px solid #dedede;padding:5px 10px;text-decoration:none;}
input[type=checkbox]{margin:-2px 5px 0 0;width:16px;padding:0;float:left;}
textarea{padding:0 5px;height:120px;width:300px;margin:0 0 3px 0;
         border:1px solid #dedede;border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;-o-border-radius:1px;}
input:focus, textarea:focus{border:1px solid #4779B8;}
select {width:300px;height:26px;padding:0 5px;border:1px solid #dedede;margin:0 0 3px 0;}
select optgroup{text-transform:uppercase;padding:0;}
select option{text-transform:;padding:2px 0px;background:#FFF;}

ul#mainmenu {list-style-type:none;margin:0;padding:0;width:170px;border-top:1px solid #ccc;}
ul#mainmenu li a{font-size:13px;text-transform:uppercase;font-family:Roboto Condensed;
                 line-height:26px;margin:0;padding:5px 15px;display:block;border-bottom:1px solid #dedede;
                 background:#fff;font-weight:bold;}
ul#mainmenu li a.active{color:#fff;background:rgba(0,0,0,0.8);}
ul#mainmenu li a:hover{color:#fff;background:rgba(0,0,0,0.8);}


/* GLOBAL */
a {text-decoration:none;}
a img {border:0;}
ul{list-style-type:none;}

hr{border:0;border-bottom:1px solid #ccc;}
hr.dotted{border:0;border-bottom:1px dotted #ccc;}
hr.gradient{
	border:0;
	height:1px;
	margin:0 0 10px 0;
  background:linear-gradient(left, white 3%, lightgreen 20%, green 50%, lightgreen 80%, white 97%);
  background:-moz-linear-gradient(left, white 3%, lightgreen 20%, green 50%, lightgreen 80%, white 97%);
  background:-webkit-linear-gradient(left, white 3%, lightgreen 20%, green 50%, lightgreen 80%, white 97%);
  background:-o-linear-gradient(left, white 3%, lightgreen 20%, green 50%, lightgreen 80%, white 97%);
}
ol.none, ul.none{list-style-type:none;padding:0;margin:0;}

h1{font-size:27px;text-transform:uppercase;color:#222;line-height:32px;border-bottom:4px double #dedede;
   font-weight:normal;font-family:Roboto Condensed;letter-spacing:-1px;margin:0 0 50px 0;padding:0 0 15px 0;}
h2{font-size:18px;text-transform:uppercase;color:#fff;line-height:23px;
   font-weight:normal;font-family:Roboto Condensed;letter-spacing:-1px;margin:0 0 5px 0;}
h3, a.h3{text-decoration:underline;cursor:pointer;margin:0 7px 0 0;
   font-size:13px;text-transform:uppercase;font-weight:bold;letter-spacing:0px;
   font-family:Roboto Condensed;}

cufon {height:17px!important;}

table{padding:0;margin:0;}
table tr{padding:0;margin:0;vertical-align:top;}
table tr td{padding:0;margin:0;vertical-align:top;}

strong,b{font-weight:bold!important;}

.clear {clear:both;height: 0;}
.left {float:left;}
.right {float:right;}

.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}
.justify {text-align:justify;}

.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}

.font10{font-size:10px!important;}
.font11{font-size:11px!important;}
.font12{font-size:12px!important;}
.font13{font-size:13px!important;}
.font14{font-size:14px!important;}
.font15{font-size:15px!important;}
.font16{font-size:16px!important;}
.font20{font-size:20px!important;}
.font30{font-size:30px!important;}
.font40{font-size:40px!important;}
.font45{font-size:45px!important;}
.font50{font-size:50px!important;line-height:60px;}
.font55{font-size:55px!important;line-height:65px;}
.font60{font-size:60px!important;line-height:70px;}
.font65{font-size:65px!important;line-height:75px;}
.font70{font-size:70px!important;line-height:80px;}


.c000{color:#000!important;}
.c222{color:#222!important;}
.c666{color:#666!important;}
.c888{color:#888!important;}
.ff1111{color:#ff1111!important;}
.ff3322{color:#ff3322!important;}
.gray{color:gray!important;}
.green{color:green!important;}
.orange{color:orange!important;}
.brown{color:#663300!important;}

.pointer {cursor:pointer;}
.relative {position:relative;}
.absolute {position:absolute;}

.bold{font-weight:bold;}
.em{font-style:italic;}
.upper{text-transform:uppercase;}
.lower{text-transform:lowercase;}


.gradient{
  background:linear-gradient(top, #efefef 14%, #fff 57%);
  background:-moz-linear-gradient(top, #efefef 14%, #fff 57%);
  background:-webkit-linear-gradient(top, #efefef 14%, #fff 57%);
  background:-o-linear-gradient(top, #efefef 14%, #fff 57%);
}

.radius20 {border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;-o-border-radius:20px;}
.radius19 {border-radius:19px;-moz-border-radius:19px;-webkit-border-radius:19px;-o-border-radius:19px;}
.radius12 {border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;-o-border-radius:12px;}
.radius10 {border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;}
.radius8 {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;}
.radius6 {border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;}
.radius5 {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;}
.radius4 {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;}

.m5px{margin:5px;}
.m10px{margin:10px;}
.ml10px{margin-left:10px;}
.mb10px{margin-bottom:10px;}

.p5px{padding:5px;}
.p10px{padding:10px;}


.box-home{float:left;margin:10px 0 15px 0;padding:10px;width:98%;
border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;-o-border-radius:2px;}
.box-home a.toggle{float:right;margin:-6px -6px 0 0;}


/*********************** pager **********************/
.pager {margin:0;padding:0;width:100%;}
.pager a {float:left;margin:1px;padding:5px 12px;border:1px solid #dedede;border-radius:2px;}
.pager a:hover {background:#dedede;color:#000;}
.pager a.selected {background:#dedede;color:#000;font-weight:bold;}
.pager .total{float:right;margin:5px 0 0 0;font-style:italic;}


