*, html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,
b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,
hgroup,menu,nav,section,summary,time,mark,audio,a 
{font-family:Open Sans Condensed;line-height:27px;font-size:17px;color:#333;margin:0;padding:0;border:0;letter-spacing:0;
outline:0;background:none;text-rendering:optimizelegibility;position:relative;font-weight:normal;text-align:left;
-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;
-moz-user-select:-moz-none;-moz-user-select:none;-ms-user-select:none;user-select:none;
}

/* layout */
body{background:#fff;position:relative;}
#header{position:relative;height:118px;}
#bar{position:absolute;top:90px;left:0;width:1081px;background:#000;color:#fff;
		 padding:3px 0 0 0;height:26px;clear:both;z-index:1000;border-bottom:2px solid #a53000;}
#leftside{float:left;background:#fff;width:150px;min-height:600px;position:relative;
          border-right:1px solid #ccc;box-shadow:0 3px 5px #ededed;}
#rightside{float:left;background:#fff;width:180px;min-height:600px;position:relative;border:0;padding:5px 0 0 0;}
#center{float:left;width:730px;padding:10px;}
#footer{position:relative;padding:20px 0;border-top:3px solid #000;border-bottom:1px solid #000;margin:20px 0;}

ul#mainmenu {list-style-type:none;margin:0;padding:0;width:150px;border-top:1px solid #ccc;}
ul#mainmenu li a{text-transform:uppercase;line-height:24px;margin:0;padding:2px 15px;color:#000;
								 display:block;border-bottom:1px solid #dedede;
                 background:#fff;}
ul#mainmenu li a.active{color:#a53000;font-weight:bold;}
ul#mainmenu li a:hover{color:#a53000;font-weight:bold;}

#sticky{z-index:1000;width:215px;position:absolute;left:-57px;top:0;background:#fff;box-shadow:0 3px 5px #ededed;padding:0 10px;
		border:1px solid #dedede;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}

#scrollUp {background: url(../images/icons/scrollup.png) no-repeat;bottom:40px;right:20px;width:32px;height:32px;}

input#search{float:left;background:#fff;width:300px;height:24px;padding:0 5px;color:#aaa;font-size:16px;border:none;}
input#search:focus, textarea#search:focus{border:none;}

/* global */
input {padding:0 5px;height:26px;border:1px solid #dedede;width:300px;margin:0 0 3px 0;}
input[type=submit], input[type=button]{cursor:pointer;font-weight:bold;background:#FF6600;color:#fff;
        border:1px solid #dedede;padding:5px 10px;text-decoration:none;}
input[type=checkbox]{margin:-2px 5px 0 0;width:16px;padding:0;float:left;}
textarea{padding:0 5px;height:120px;width:300px;margin:0 0 3px 0;
         border:1px solid #dedede;}
input:focus, textarea:focus{border:1px solid #a53000;}
select {width:300px;height:26px;padding:0 5px;border:1px solid #dedede;margin:0 0 3px 0;}
select optgroup{text-transform:uppercase;padding:0;}
select option{text-transform:;padding:2px 0px;background:#FFF;}

a{text-decoration:none;}
a img{border:0;}
ul{list-style-type:none;}
ul li{list-style-type:none;}

hr{border:0;border-bottom:1px solid #ccc;}
hr.dotted{border:0;border-bottom:1px dotted #ccc;}

ol.none, ul.none{list-style-type:none;padding:0;margin:0;}

h1, .h1{color:#000;text-transform:uppercase;font-size:25px;line-height:30px;margin:0;padding:0 0 15px 0;font-weight:bold;}
h2, .h2{text-transform:uppercase;font-size:18px;line-height:23px;margin:0 0 5px 0;font-weight:normal;}
h3, .h3{color:#a53000;text-transform:uppercase;margin:5px 0 5px 0;padding:0 0 5px;line-height:20px;
				cursor:pointer;font-weight:bold;border-bottom:1px solid #a53000;}
h6, .h6{text-transform:uppercase;margin:0 0 10px 0;float:left;}

cufon {height:17px!important;}

table{padding:0;margin:0;}
table tr{padding:0;margin:0;vertical-align:top;}
table tr td{padding:0;margin:0;vertical-align:top;}

strong,b{font-weight:bold!important;}

.clear {clear:both;height: 0;}
.left {float:left;}
.right {float:right;}

.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}
.justify {text-align:justify;}

.upper{text-transform:uppercase;}
.lower{text-transform:lowercase;}

.c000{color:#000!important;}
.c222{color:#222!important;}
.c666{color:#666!important;}
.c888{color:#888!important;}
.ff1111{color:#ff1111!important;}
.ff3322{color:#ff3322!important;}
.white{color:#fff!important;}
.black{color:#000!important;}
.gray{color:gray!important;}
.green{color:green!important;}
.orange{color:orange!important;}
.brown{color:#663300!important;}

.pointer {cursor:pointer;}
.relative {position:relative;}
.absolute {position:absolute;}

.bold{font-weight:bold;}
.em{font-style:italic;}
.upper{text-transform:uppercase;}
.lower{text-transform:lowercase;}

.gradient{
  background:linear-gradient(top, #efefef 14%, #fff 57%);
  background:-moz-linear-gradient(top, #efefef 14%, #fff 57%);
  background:-webkit-linear-gradient(top, #efefef 14%, #fff 57%);
  background:-o-linear-gradient(top, #efefef 14%, #fff 57%);
}

.radius20 {border-radius:20px;-moz-border-radius:20px;-webkit-border-radius:20px;-o-border-radius:20px;}
.radius19 {border-radius:19px;-moz-border-radius:19px;-webkit-border-radius:19px;-o-border-radius:19px;}
.radius12 {border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;-o-border-radius:12px;}
.radius10 {border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;-o-border-radius:10px;}
.radius8 {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-o-border-radius:8px;}
.radius6 {border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;-o-border-radius:6px;}
.radius5 {border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-o-border-radius:5px;}
.radius4 {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-o-border-radius:4px;}

.timestamp{color:#aaa;font-size:12px;text-transform:uppercase;line-height:18px;}
.more1{float:right;color:#fff;text-transform:uppercase;text-decoration:none;line-height:20px;display:block;width:60px;height:19px;
			 background:url(../images/icons/more1.png) no-repeat;padding:0 0 0 5px;margin:10px;}

.box-home{float:left;}
.box-home a.toggle{float:right;margin:-6px -6px 0 0;}
.box-s{float:left;margin:0 6px 5px 0;width:140px;height:252px;overflow:hidden;}
.box-s a{line-height:17px;}
.box-xs{float:left;margin:0 6px 5px 0;width:100px;height:200px;overflow:hidden;}
.box-xs a{line-height:10px;}

.pager {margin:0;padding:0;width:100%;}
.pager a {float:left;margin:1px;padding:3px 12px;border:1px solid #dedede;border-radius:2px;}
.pager a:hover {background:#dedede;color:#000;}
.pager a.selected {background:#dedede;color:#000;font-weight:bold;}
.pager .total{float:right;margin:5px 0 0 0;font-style:italic;}

ul.error_list li{border:1px solid yellow;background:#FFFF99;padding:5px 20px;width:220px;margin:0 0 10px 0;}
.flash{border:1px solid yellow;background:#FFFF99;padding:5px 20px;margin:0 0 10px 0;}
